.App {
  padding: 30px;
  display: flex;
  background-color: #e4d7fc;
  height: 100vh;
}

.App > div {
  margin-right: 50px;
}

.todolist {
  border: 2px solid #f39cf3;
  background-color: #fdd6fd;
  border-radius: 5px;
  padding: 15px;
  height: max-content;
}

.task {
  font-weight: bold;
}

.task-done {
  text-decoration: line-through;
  opacity: 0.5;
}

.btn-active{
  background-color: #c377f8;
  color: white;
  border-radius: 3px;
  border: 2px solid #c377f8;
}

.input-error{
  border: 2px solid red;
  outline: none;
}